<!DOCTYPE html>
<html>
<head>
    <title>Kijani Project</title>
</head>
<body>
    <h1>Welcome to the Kijani Webserver</h1>
    <p>Environment: {{ target_env }}</p>
    <p>Server IP: {{ ansible_host }}</p>
</body>
</html>